.user-dashboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 3%;
  .total-spent{
    @include userCards()
    text-align: center;
    line-height: 1.1em;
    span{
      margin-top: 4em;
    }
  }
  .book-room{
    @include userCards()
    display: flex;
    flex-direction: column;
    p{
      text-align: center;
      margin-top: 1em;
      margin-bottom: 3em;
      height: 1em;
    }
    .book-room-button{
      font-size: 1em;
      font-weight: bold;
      line-height: 1em;
      align-self: center;
      height: 4em;
      width: 10em;
      border-radius: .3em;
    }
  }

  .my-bookings{
    display: flex;
    flex-direction: column;
    width: 78em;
    background-color:grey;
    border: solid .2em;
    padding-bottom: .5em;
    border-radius: 1em 4em;
    h3{
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      margin-top: .4em;
    }
    .booking{
      width: 55em;
      height: 1.5em;
      text-align: center;
      align-self: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2em;
      margin-top: .5em;
      background-color: white;
      border: solid .1em;
      .booking-date,
      .booking-room,
      .booking-cost {
        background-color: grey;
        color: white;
        padding: 0 .1em 0 .1em
      }
    }
  }
}
