.customer-dashboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 3%;
  .total-spent{
    //// card on top left that displays total spent by customer
    @include userCards();
    text-align: center;
    line-height: 1.1em;
    span{
      margin-top: 4em;
    }
  }
  .book-room{
    //// card on top right which opens customer search window
    @include userCards();
    display: flex;
    flex-direction: column;
    p{
      text-align: center;
      margin-top: 1em;
      margin-bottom: 3em;
      height: 1em;
    }
    .book-room-button{
      font-size: 1em;
      font-weight: bold;
      line-height: 1em;
      align-self: center;
      height: 4em;
      width: 10em;
      border: solid .1em;
      border-radius: .3em;
      @include button();
    }
  }

  .my-bookings{
    //// displays all customers bookings at bottom of screen
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: #1f1f1f;
    color: #dbdbdb;
    border: solid .4em;
    padding-bottom: .5em;
    border-radius: 1em 4em;
    padding-bottom: 3em;
    .booking{
      max-width: 55em;
      min-height: 2em;
      text-align: center;
      align-self: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2em;
      font-weight: bold;
      margin-top: .5em;
      background-color: #1f1f1f;
      border: solid .2em #dbdbdb;
      border-radius: .2em;
      .booking-date,
      .booking-room,
      .booking-cost {
        color: #dbdbdb;
        padding: 0 .1em 0 .1em
      }
    }
  }
}
