.login-form {
  background-color: green;
  @include formSizing(80%, 30em, 10%)
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: left;

  h3{
    text-align: center;
    font-size: 1.6em;
  }
  p {
    font-size: 1.2em;
    margin-left: 10%;
    margin-top: 2%;
    max-width: 10em;
  }
  input{
    height: 2em;
  }
  button{
    max-width: 10em;
    align-self: left;
    margin-left: 10%
  }
}
