.login-form {
  background-color: #1f1f1f;
  @include loginSizing(60%, 30em, 20%, 10%)
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: left;
  border: 1em solid #dbdbdb;
  border-radius: 5em 10em;
  h3{
    padding-bottom: 1em;
    border-bottom: .2em solid #dbdbdb;
    width: 100%;
    font-weight: bold;
    color: #dbdbdb;
  }
  label {
    font-size: 1.75em;
    margin-left: 30%;
    margin-top: -1em;
    max-width: 10em;
    font-weight: bold;
    color: #dbdbdb;
  }
  input{
    @include input()
    font-size: 1.4em;
    width: 40%;
    height: 1.5em;
    margin-left: 30%;
    margin-top: -1.5em;
  }
  button{
    @include button()
    width: 25%;
    font-size: 1.4em;
    height: 2em;
  }
}
