.manager-dashboard{
  @extend .customer-dashboard;
  .today-stats{
    @extend .total-spent;
  }
  .search-customers{
    @extend .book-room;
    p{
      margin: .5em 0 0 0;
    }
    .search-customer-input{
      @include input();
      align-self: center;
      margin-top: .2em;
      // border: solid;
    }
    .search-customers-button{
      @extend .book-room-button;
      height: 2em;
      margin-top: 1em;
    }
  }
  .bookings-today{
    @extend .my-bookings;
    .booking{
      .delete-booking-button{
        font-size: 1em;
        font-weight: bold;
        width: 13em;
        height: 1.7em;
        margin-left: .5em;
        margin-right: 1em;
        border: solid .2em;
        border-radius: .1em;
      }
    }
  }
}
