.manager-customer-view-dashboard{
  @extend .customer-dashboard;
  .manager-customer-view{
    @extend .total-spent;
    .customer-info{
      font-size: 1em;
      margin-top: -1.5em;
      margin-bottom: .5em;
    }
      .manager-room-search-date{
        @include input();
        // width: 10em;
        margin-top: .8em;
      }
      .book-customer-room-button{
        @include button();
        height: 2em;
        margin-top: .3em;
      }
  };
  .return-customer-manager-page{
    @extend .total-spent;
    p{
      margin-top: 1em;
    }
    .return-customer-manager-page-button{
        @include button();
        margin-top: 3em;
    }
  }
  .return-manager-dashboard{
    @extend .book-room;
    .return-manager-page-button{
      @extend .book-room-button;
    }
  }

  .manager-user-bookings{
    @extend .my-bookings;
    .booking{
      .delete-booking-button{
        @include button();
        height: 1.7em;
      }
    }
  }
  .manager-available-rooms{
    @extend .my-bookings;
      .room{
        @extend .booking;
        .book-button{
          @include button();
          font-size: 1.1em;
          height: 1.5em;

        }
      }
  }
  .hidden{
    display: none
  }
}
