.manager-dashboard{
  @extend .customer-dashboard;
  .today-stats{
    //// card on top right which displays hotel's daily stats
    @extend .total-spent;
  }
  .search-customers{
    //// card on top right which allows manager to search customers
    @extend .book-room;
    p{
      margin: .5em 0 0 0;
    }
    .search-customer-input{
      @include input();
      align-self: center;
      margin-top: .2em;
    }
    .search-customers-button{
      @extend .book-room-button;
      height: 2em;
      margin-top: 1em;
    }
  }
  .bookings-today{
    //// list of hotel bookings for current day at bottom of screen
    @extend .my-bookings;
    .booking{
      .delete-booking-button{
        @include button()
        height: 1.7em;
      }
    }
  }
}
