.manager-customer-view-dashboard{
  @extend .customer-dashboard;
  .manager-customer-view{
    @extend .total-spent;
    .customer-info{
      font-size: 1em;
      margin-top: -1.5em;
      margin-bottom: .5em;
    }
      .manager-room-search-date{
        @include input();
        // width: 10em;
        margin-top: .8em;
        // margin-right: 3em;
        // margin-left: 1em;
      }
      .book-customer-room-button{
        // font-size: .9em;
        margin-top: .3em;
        // margin-left: 2.5em;
        font-size: 1em;
        font-weight: bold;
        line-height: 1em;
        align-self: center;
        height: 2em;
        width: 8em;
        border: solid .1em;
        border-radius: .3em;
      }
  };
  .return-customer-manager-page{
    @extend .total-spent;
    p{
      margin-top: 1em;
    }
    .return-customer-manager-page-button{
        margin-top: 3em;
        // margin-left: 2.5em;
        font-size: 1em;
        font-weight: bold;
        line-height: 1em;
        align-self: center;
        height: 2em;
        width: 8em;
        border: solid .1em;
        border-radius: .3em;
    }
  }
  .return-manager-dashboard{
    @extend .book-room;
    .return-manager-page-button{
      @extend .book-room-button;
    }
  }

  .manager-user-bookings{
    @extend .my-bookings;
    .booking{
      .delete-booking-button{
        font-size: 1em;
        font-weight: bold;
        width: 13em;
        height: 1.7em;
        margin-left: .5em;
        margin-right: 1em;
        border: solid .2em;
        border-radius: .1em;
      }
    }
  }
  .manager-available-rooms{
    @extend .my-bookings;
      .room{
        @extend .booking;
        .book-button{
          font-size: 1.1em;
          font-weight: bold;
          width: 20em;
          height: 2em;
          margin-left: .5em;
          margin-right: 1em;
          border: solid .2em;
          border-radius: .2em;
        }
      }
  }
  .hidden{
    display: none
  }
}
