@import 'mixins';
@import 'login-form';
@import 'customer-dashboard';
@import 'manager-dashboard';
@import 'customer-search-dashboard';
@import 'manager-search-dashboard';


* {
  width: 100%;
  margin: 0;
  padding: 0
}

body {
  background-image: url('../images/black-white-background-medium.jpg');
}

header {
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  border-bottom: solid .5em #dbdbdb;
  h1 {
    font-size: 5em;
    font-weight: bold;
    align-self: center;
    margin-left: 3%;
    margin-right: 3%;
    color: #dbdbdb;
  }
  h2 {
    font-size: 3em;
    align-self: flex-end;
    margin-bottom: .7%;
    color: #dbdbdb;
  }
}

h3{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: .4em;
}

.hidden{
  display: none;
}
