/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;
//
// body {
//   background: $primary-background;
// }
@import 'mixins';
@import 'login-form';
@import 'customer-dashboard';
@import 'manager-dashboard';
@import 'customer-search-dashboard';


* {
  width: 100%;
  margin: 0;
  padding: 0
}

header {
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  border-bottom: solid .5em;
  h1 {
    font-size: 5em;
    font-weight: bold;
    align-self: center;
    margin-left: 3%;
  }
  h2 {
    font-size: 3em;
    align-self: flex-end;
    margin-bottom: .7%;
  }
}

h3{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: .4em;
}

.hidden{
  display: none;
}

// .login-form {
//   @include color()
// }
